alabaster==0.7.12
argh==0.26.2
asn1crypto==0.24.0
attrs==18.2.0
Babel==2.6.0
bumpversion==0.5.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==7.0
coverage==4.5.1
cryptography==2.3.1
cycler==0.10.0
decorator==4.3.0
docutils==0.14
flake8==3.5.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.0
matplotlib==3.0.0
mccabe==0.6.1
networkx==2.2
numpy==1.15.2
pathtools==0.1.2
pluggy==0.7.1
py==1.6.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.2.0
pyparsing==2.2.2
PyQt5==5.11.3
pytest==3.8.2
pytest-runner==4.2
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.13
requests==2.19.1
scipy==1.1.0
setuptools==40.4.3
sip==4.19.8
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
tox==3.0.0
urllib3==1.23
virtualenv==15.2.0
watchdog==0.9.0
