alabaster==0.7.12
argh==0.26.2
asn1crypto==1.4.0
attrs==20.2.0
Babel==2.8.0
bumpversion==0.6.0
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
click==7.0
coverage==5.0.3
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
docutils==0.16
flake8==3.7.9
idna==2.8
imagesize==1.2.0
Jinja2==2.11.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
pathtools==0.1.2
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.4.6
PyQt5==5.13.0
pytest==5.3.5
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML>=4.2b1
requests==2.22.0
scipy==1.4.1
setuptools==45.1.0
sip==5.1.1
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.3.1
sphinxcontrib-websupport==1.1.2
tox==3.14.3
urllib3==1.25.8
virtualenv==16.7.9
watchdog==0.10.1
