alabaster==0.7.12
argh==0.26.2
asn1crypto==1.4.0
attrs==20.3.0
Babel==2.9.0
bumpversion==0.6.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coverage==5.5
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
docutils==0.16
flake8==3.8.4
idna==3.1
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
networkx==2.5
numpy==1.19.2
pathtools==0.1.2
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.1
pyparsing==2.4.7
PyQt5==5.13.0
pytest==6.1.0
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML>=4.2b1
requests==2.24.0
scipy==1.5.2
setuptools==50.3.0
sip==5.4.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-websupport==1.2.4
tox==3.20.0
urllib3==1.25.10
virtualenv==20.0.31
watchdog==0.10.3
